<nb-layout>
  <nb-layout-header fixed>
    <nb-icon icon="menu-outline" status="warning" (click)="toggle()"></nb-icon>
  </nb-layout-header>
  <nb-sidebar ></nb-sidebar>

  <nb-layout-column class="colored-column-info">
      <nb-card>
        <nb-card-body class="example-items-col">
          <label for="nama">Nama: </label>
          <input type="text" id="nama" fieldSize="small" nbInput status="primary" placeholder="eg: ali">
          <br>
          <label for="age">Age: </label>
          <input type="number" id="age" fieldSize="small" nbInput status="primary" placeholder="eg: 25">
        </nb-card-body>
      </nb-card>
  </nb-layout-column>
</nb-layout>